{
  "accounts": {
    "account_one": {
      "assume_role": false
    },
    "account_two": {
      "assume_role": true,
      "role_arn": "an_amazing_arn",
      "role_session_name": "a_great_session_name"
    }
  },
  "streams": [
    {
      "name": "a greata stream",
      "account": "account_one",
      "region": "us-east-1",
      "scaleOn": "PUT",
      "shardLevelScale": true,
      "scaleOnWriteErrors": true,
      "minShards": 1,
      "maxShards": 10,
      "scalingConfig": {
        "up": {
          "thresholdPct": 60,
          "rate": 1
        },
        "down": {
          "thresholdPct": 10,
          "rate": 1
        }
      }
    }
  ],
  "cloudwatchRefreshTime": 300,
  "postToSlack": true,
  "slack_webhook_url": "https://*.slack.com/webhookurl",
  "slack_channel": "#kinesis-noisy",
  "slack_username": "Mr. H0t Tub3s",
  "slack_icon": "smiley"
}